<div id="datos" class="custom-container">
  <div class="margin-table">
    <h1 class="entry-title custom-title">Carga de datos</h1>

  <p>Para actualizar el contenido de la aplicación deben subirse semanalmente los archivos CSV con el formato de
  reporte estándar. El archivo pasará por una serie de validaciones para ser incluido en el sistema, si el resultado
  de la validación es exitoso los datos serán actualizados, de lo contrario los datos no serán actualizados y el archivo será rechazado.</p>

  <div id="drop" class="drop" style="padding: 15px;border: 2px dashed #F1F1F1;border-radius: 5px;line-height: 34px;" ng-controller = "DatosCtrl">
    <!--<span class="btn btn-default">
        <input type="file" class="filestyle" data-buttonBefore="true" file-model="myFile" style="line-height: normal;"/>
      </span>
      <div class="input-group">
          <span class="input-group-btn">
              <span class="btn btn-primary btn-file">
                  Buscar... <input type="file" file-model="myFile">
              </span>
          </span>
          <input type="text" class="form-control" readonly="">
      </div>
      <button class="btn btn-primary" ng-click="uploadFile()">Subir Archivo</button>-->
      <form role="form">
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <input type="file" file-model="myFile" class="filestyle" data-buttonbefore="true" id="filestyle-7" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);"><div class="bootstrap-filestyle input-group"><span class="group-span-filestyle input-group-btn" tabindex="0"><label for="filestyle-7" class="btn btn-default " style="
              height: 33.81818175315857px;"><span class="glyphicon glyphicon-folder-open"></span> Seleccionar archivo</label></span><input id="selected-file-value" type="text" class="form-control " disabled=""> </div>
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary" ng-click="uploadFile()">Subir Archivo</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>