<div id="listado" class="custom-container">
	<h1 class="entry-title custom-title">Listado de casos de dengue</h1>
	<p>Listado de casos de dengue notificados al Ministerio de Salud Pública y Bienestar Social del Paraguay.</p>
    <div generic-datatable="" options="options"></div>
    <div id="download-footer">
   	<br/>
   	<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-table"></span>
    <span class="download-label">Descargar lista filtrada de notificaciones: </span>
    <button id="btn-descarga-json" type="submit" class="btn btn-sm btn-primary">JSON</button>
    <button id="btn-descarga-csv" type="submit" class="btn btn-sm btn-primary">CSV</button>
	</div>
	<br/>
</div>
