<div id="sidebar" class="sidebar" style="top:60px;">
<!-- Nav tabs -->
    <ul class="sidebar-tabs" role="tablist">
        <!-- <li ng-class="{active:isTab('map1')}"><a ng-click="setTab('map1')" role="tab"><i class="fa fa-bars"></i></a></li>-->
        <li ng-class="{active:isTab('map5')}"><a ng-click="setTab('map5')" role="tab">
            <div class="vertical-text"><span class="glyphicon glyphicon-filter" aria-hidden="true">&nbsp;Riesgo</span></div>
        </a></li>
        <li ng-class="{active:isTab('map6')}"><a ng-click="setTab('map6')" role="tab">
            <div class="vertical-text"><span class="glyphicon glyphicon-filter" aria-hidden="true">&nbsp;Reporte</span></div>
        </a></li>
        <li ng-class="{active:isTab('map7')}"><a ng-click="setTab('map7')" role="tab">
            <div class="vertical-text"><span class="glyphicon glyphicon-filter" aria-hidden="true">&nbsp;Alerta</span></div>
        </a></li>
        <li ng-class="{active:isTab('map8')}"><a ng-click="setTab('map8')" role="tab">
            <div class="vertical-text"><span class="glyphicon glyphicon-filter" aria-hidden="true">&nbsp;Incidencia</span></div>
        </a></li>
    </ul>

    <!-- Tab panes -->
    <div class="sidebar-content active">
        <div class="sidebar-pane" id="profile" ng-class="{active:isTab('map5')}" ng-if="tab=='map5'"><h1>Mapa de
        Riesgo Dengue</h1>
        <p>Mapa de niveles de riesgo de dengue por departamentos, distritos y barrios de Asunción.</p>
        </div>
        <div class="sidebar-pane" id="messages" ng-class="{active:isTab('map6')}" ng-if="tab=='map6'"><h1>Mapa de
        Casos Reportados Dengue</h1>
        <p>Mapa de casos de dengue reportados a nivel de departamentos.</p>
            <div>
            <p><b>Sexo</b></p>
            <div id="sexo" class="btn-group-vertical" data-toggle="buttons">
                <label class="btn btn-sm btn-primary"><input type="checkbox">Masculino</label>
                <label class="btn btn-sm btn-primary"><input type="checkbox">Femenino</label>
            </div>
            <p><b>Clasificación</b></p>
            <div id="clasificacion" class="btn-group-vertical" data-toggle="buttons">
                <label class="btn btn-sm btn-primary"><input type="checkbox">Confirmado</label>
                <label class="btn btn-sm btn-primary"><input type="checkbox">Sospechoso</label>
                <label class="btn btn-sm btn-primary"><input type="checkbox">Descartado</label>
            </div>
            </div>
        </div>
        <div class="sidebar-pane" id="alertas" ng-class="{active:isTab('map7')}" ng-if="tab=='map7'"><h1>Mapa de Alertas Dengue</h1>
            <mapa-alertas ng-if="tab=='map7'"></mapa-alertas>
            
            
        </div>
        <div class="sidebar-pane" id="settings" ng-class="{active:isTab('map8')}" ng-if="tab=='map8'"><h1>Mapa de
        Incidencia Dengue</h1>
        <p>Mapa de incidencia de dengue por departamentos, distritos y barrios de Asunción.</p>
        </div>
        <div ng-hide="tab=='map7'">
            <p style="margin-left:15px;"><b>Año </b>&nbsp;<span class="example-val" id="fYear"></span></p>
            <div id="sYear" style="width:365px;margin-left:20px;margin-right:15px;cursor:pointer;"></div>
            <br/>
            <br/>
            <br/>
            <p style="margin-left:15px;"><b>Semana </b>&nbsp;<span class="example-val" id="fMonth"></span></p>
            <div id="sMonth" style="width:365px;margin-left:20px;margin-right:15px;cursor:pointer;"></div>
            <br/>
        </div>
    </div>
</div>


<div id="map" ng-model="activeTab">
	<mapa-riesgos ng-if="activeTab=='map5'"></mapa-riesgos>
	<mapa-reportes ng-if="activeTab=='map6'"></mapa-reportes>
    <mapa-incidencias ng-if="activeTab=='map8'"></mapa-reportes>
</div>