 <p>Precciones de brote para los departamentos Capital, Central, Alto Paraná e Itapua a patir de un conjunto de datos.</p>
 <p><small>A nivel de departamentos de muestra el nivel de alerta en relación a la cantidad de distritos con brotes. Para Capital, cantidad de barrios con brote. A nivel de distritos se muestra la predicción de brote. Para Capital la predicción por barrio.</small></p>
<div class="form-group">
	<label class="col-sm-12 control-label">Año</label> 
</div>
<div class="form-group">
	<div class="col-sm-5">
		<select class="form-control" ng-change="refreshLista(anioSelect)" style="margin-bottom: 10px;" name="dist" ng-model="anioSelect">
			<option ng-repeat="anio in listaAnios">{{anio}}</option>
		</select>
	</div>
</div>
 <div class="form-group">
  	<label class="col-sm-12 control-label">Conjuto de datos</label> 
</div>
<div class="form-group">
	<div class="col-sm-12">
		<select class="form-control" style="margin-bottom: 20px;" name="dist" ng-model="conjunto" ng-options="getLabel(option) for option in conjuntos"></select>
	</div>
</div>

<div class="form-group">
        <div class="col-sm-12">
          <input type="submit" ng-class="{disabled:conjunto==null}" class="btn btn-primary" value="Generar Predicciones" ng-click="generarPrediccion()" />
        </div>
</div>

